# Environment
.env
.env.*

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.pkl  
venv/
.venv/

# Data
data/*.csv     # raw data files

# Docker
docker-compose.override.yml

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Testing
.pytest_cache/
htmlcov/
.coverage